button#plant Plant
button#getForest Get Forest
#user(data-id=user._id.toString())= user.username
.wood Wood:
  #wood= user.wood
.cash Cash:
  #cash #{user.cash}
form
  input.woodqty(type='text', name='wood', placeholder='Quanity')
  button#sell Sell
